[submodule "FullC0ntact"]
	path = FullC0ntact
	url = https://github.com/rmuenste/FullC0ntact.git
	branch = devel
[submodule "extern/libraries/cgal"]
	path = extern/libraries/cgal
	url = https://github.com/rmuenste/cgal
[submodule "extern/libraries/hypre"]
	path = extern/libraries/hypre
	url = https://github.com/rmuenste/hypre.git
[submodule "libs/pe-0.3rc1"]
	path = libs/pe
	url = https://github.com/rmuenste/pe-0.3rc1.git
	branch = ff-lub-tune
